.products-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

/* Card */
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 360px;
  min-height: 530px;
  padding: 16px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
}

/* Image */
.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 12px;
  border-radius: 10px;
}

/* Title */
.card h3 {
  font-size: 20px;
  color: #0f172a;
  font-weight: 600;
  margin: 4px 0 4px;
}

/* Brand */
.card p {
  font-size: 16px;
  color: #64748b;
  margin: 0;
}

/* Bottom Row */
.priceStarFlexCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  padding-top: 8px;
}

/* Price */
.priceText {
  font-weight: 700;
  font-size: 18px !important;
  color: #111827;
}

/* Rating */
.ratingCont {
  display: flex;
  align-items: center;
  background: #0f172a;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 13px;
}

/* Star Icon */
.starImg {
  width: 20px;
  height:20px;
  margin-left: 4px;
}
.rating{
    color:#f9fafb !important;
}

.add-to-cart-btn {
    width: 100%;
    padding: 12px;
    margin-top: auto;
    background-color: #ef4444;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-cart-btn:hover {
    background-color: #dc2626;
}

.add-to-cart-btn:active {
    transform: scale(0.98);
}