.width-80-percent{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:flex-start;
    width:80%;
    margin:auto;
    padding-top:80px;
    padding-bottom:40px;
}




.productImg{

    height:590px;
    width:550px;
    border-radius:10px;

}

.textContainer {
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    margin-left:30px;
    padding:10px;
}

.title {
    font-size:50px;
    padding-bottom:20px;
    color:#1e293b;
}

.price {
    font-size:22px;
    padding-bottom:20px;
    color:#020617;
}
.description{
    font-size:17px;
    padding-bottom:20px;
    color:#475569;
}

.available {
    padding-bottom:20px;
    font-size:17px;
    color:#64748b;
}
.available-title{
    color:#0f172a;
}
.brand {
    font-size:17px;
    color:#2563eb;
}

.brand-title{
    color:#0f172a;
}

.ratingContt {
  display: flex;
  align-items: center;
  background: #3b82f6;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 13px;
  margin-bottom:20px;
}

.similar-products-container {
    width:80%;
    margin:auto;

}

.sp_image{
    height:200px;
    border-radius:10px;
}

.sp_container {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    padding-bottom:50px;
}

.sp_title{
    color:#0f172a;
    font-size:16px;
    padding-top:10px;
}
.sp_price {
     color:#020617;
     padding-top:10px;
     font-size:20px;
}
.sp_brand {
    color:#2563eb;
    padding-top:10px;
}
.sp_by{
    color:#0f172a;
}

.sp_cont_list {
    padding-top:20px;
    margin-right:20px;
}