.HomeContainer {
    height:100vh;
    background-color:#fef2f2;
}


.HomeBody {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:80%;
    height:80%;
    margin:auto;
}

.homeBodyFlexCont {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}
.homeBodyImg{
    height:400px;
    border-radius:10px;
}

.homeTextCont {
    margin-right:200px;
}
.home-head {
    font-size:140px;
    width:500px;
    font-size:40px;
    color:#ef4444;

}

.home-para {
    width:550px;
    font-size:20px;
    color:#065f46;
}

.shopNowBtn {
    width:130px;
    padding:10px;
    font-size:15px;
    margin-top:30px;
}