.Login-main-flex-cont{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:#fff1f2;
}

.flex-row-cont{
    display:flex;
    flex-direction:row;
    

}
.form-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:#fee2e2;
    margin-left:30px;
    border-radius:10px;
    padding:20px;
    box-shadow:
    0 10px 25px rgba(0, 0, 0, 0.06),
    0 4px 10px rgba(0, 0, 0, 0.04);
   
}
.form{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    
}



.logo-bg {
    height:450px;
    width:700px;
    border-radius:10px;
    margin-right:30px;
}

.logo-login {
    height:200px;
}

label{
    font-size:12px;
    padding-bottom:5px;
}

input{
    height:30px;
    width:200px;
    background-color:#fca5a5;
    border-width:0px;
    border-radius:5px;
    outline:none;
    padding-left:5px;
}

input::placeholder {
    color:#1e293b;
}

button {
    width:230px;
    background-color:#9333ea;
    color:white;
    padding:10px;
    border-width:0px;
    border-radius:10px;
}

.inputBox{
    background-color:#fca5a5;
    height:40px;
    width:220px;
    padding:5px;
    border-radius:10px;
}